@use "base/mixins" as m;
@use "base/variables" as v;

.custom-search{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: center;
    border-radius: 35px;
    background-color: v.$celeste;
    padding: .4rem 1.5rem;
    // @media (max-width: v.$desktop){
    //     grid-template-columns: 1fr;
    // }
    // font-size: 1.1rem;
    label{
        color: v.$blanco;
        font-family: "GorditaBold";
    }
    input{
        background-color: v.$blanco;
        border-radius: 27px;
        width: 100%;
        padding: .7rem 1.2rem;
        border: none;
        font-size: .9em;
        font-family: "GorditaRegular";
    }
}