@use "base/mixins" as m;
@use "base/variables" as v;

.partners{
    padding-top: 4rem;
    padding-bottom: 5rem;
    &__content{
        h2{
            margin-bottom: 3rem;
            font-family: "GorditaMedium";
            // font-size: 2.2rem;
            // @media (max-width: v.$television){
            //     font-size: 1.8rem;
            // }
            // @media (max-width: v.$desktop){
            //     font-size: 1.5rem;
            // }
        }
        img{
            border-radius: 25px;
            max-width: 100%;
        }
    }
}