@use 'variables' as v;
@use 'mixins' as m;

html{
    overflow-x: hidden;
}

body{
    font-size: 16px;
    font-family: 'GorditaRegular';
}

picture{
    display: block;
}

.w-100{width: 100%;}
.h-100{height: 100%;}
.wh-100{
    @extend .w-100;
    @extend .h-100;
}

img{
    vertical-align: top;
    height: auto;
}

.relative{
    position: relative;
}

.row{
    @include m.flex(space-between, 20px 0);
    &.start{
        align-items: flex-start;
    }
}

.absolute{
    position: absolute;
}

a,button,input[type="submit"]{
    cursor: pointer;
    @include m.transition;
}

main, section, header, footer, aside{
    width: 100%;
}

a{
    text-decoration: none;
}

textarea, button, input, select, option {
    outline: none;
}

.contenedor{
    width: min(88%, 1400px);
    // width: min(88%, 1500px);
    margin-inline: auto;
    @media (max-width: v.$television){
        width: min(78%, 1400px);
    }
    @media (max-width: v.$desktop){
        width: min(88%, 1400px);
    }
    &.xl{
        width: min(94%, 1760px);
    }
}

.hr{
    @include m.hr(v.$azul);
}

video{
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
}

main, section, header, footer{
    width: 100%;
}



.overlaying{
    .row{
        position: relative;
    }
    &.in-right{
        .row{
            @include m.flex(flex-end, 0);
        }
        .col{
            &:nth-child(1){
                position: absolute;
            }
            &:nth-child(2){
                width: 55%;
            }
        }
    }
    img{
        border-radius: 30px;
    }
}


.shadow-img{
    border-radius: 57px;
    @include m.shadow(1rem, 1rem,4px, rgba(v.$celeste, 0.5));
}

.shadow-card{
    @include m.shadow(0, 3px, 6px, #00000029);
}

.bg-celeste{
   background-color: rgba(v.$celeste, 0.2);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: linear-gradient(#ADE44C, #62BDBE); 
    border-radius: 10px; 
    border: 2px solid #8BCB84;
}


::-webkit-scrollbar-track {
    background: #B6D7B1;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#62BDBE, #ADE44C);
}

