@use "base/mixins" as m;
@use "base/variables" as v;

.banner-bottom{
    padding-top: 5rem;
    padding-bottom: 7rem;

    @media (max-width: v.$desktop){
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    &__title{
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
        h2{
            text-align: center;
            background-color: v.$celeste;
            color: #fff;
            padding: .8rem 4rem;
            border-radius: 50px;
        }
        @media (max-width: v.$desktop){
            margin-bottom: 2rem;
        }
    }
    &--reverse{
       .banner-bottom{
        &__image{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            @media (max-width: v.$desktop){
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
        }
        &__bg-text{
            grid-column: 2 / 3;
            transform: translateX(-20%);
            @media (max-width: v.$desktop){
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                transform: translateX(0%);
            }
        }
       }
    }
    &__content {
        display: grid;
        grid-template-columns: 55% 1fr;
        align-items: center;
        @media (max-width: v.$desktop){
            grid-template-columns: 1fr;
            gap: 3rem;
        }
    }
    &__image{
        img{
            max-width: 100%;
            object-fit: cover;
            @media (max-width: v.$desktop){
                margin: auto;
                display: block;
                max-height: 500px;
            }
        }
    }
    &__bg-text {
        background-color: rgba(#fff, .91);
        border-radius: 60px;
        padding: 3rem;
        transform: translateX(20%);
        @media (max-width: v.$desktop){
            transform: translateX(0%);
            padding: 0;
        }
        p{
            // font-size: 1.2rem;
            line-height: 2.2;
            // @media (max-width: v.$television){
            //     font-size: 1rem;
            // }
            // @media (max-width: v.$television){
            //     font-size: .8rem;
            // }
        }
    }
}