@use "base/mixins" as m;
@use "base/variables" as v;

.product{
    width: 100%;
    border-radius: 20px;
    @include m.shadow(0, 3px, 6px, #0000003D);
    position: relative;

    background: v.$blanco;
    display: flex;
    flex-direction: column;

    height: 500px;
    @media (max-width: v.$television){
        height: 400px;
    }

    &-search{
        padding-top: 5rem;
        padding-bottom: 0;
        &__content{
            display: grid;
            grid-template-columns: 250px 1fr;
            gap: 4rem;
            @media (max-width: v.$desktop){
                grid-template-columns: 160px 1fr;   
                gap: 1rem;
            }
            @media (max-width: v.$telefono){
                grid-template-columns: 1fr;   
            }
        }
    }

    &>div{
        @include m.transition;
    }
    &_image{
        border-radius: 20px 20px 0 0;
        aspect-ratio: 1/1;
        height: auto;
        flex: 1;
        position: relative;
        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            // object-fit: cover;
            object-fit: contain;
            object-position: center;
            border-radius: 20px;
            @include m.transition;
        }
    }
    &_info{
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        padding: 1.35rem;
        flex-grow: 0;
        height: 110px;
        @media (max-width: v.$television){
            height: 93px;
        }
        &::before{
            position: absolute;
            content: '';
            inset: 0;
            @include m.transition;
            width: 100%;
            height: 100%;
            background: transparent linear-gradient(180deg, #54B4D4 0%, #6AC0B2 100%) 0% 0% no-repeat padding-box;
            opacity: 0.2;
        }
        p{
            font-size: 1.075rem;
            @include m.transition;
            &:nth-child(1){
                font-family: v.$bold;
                color: v.$celeste;
                font-size: 1.3rem;
                @include m.limit(1);
            }
            &:nth-child(2){
                margin-top: 5px;
                color: v.$negro;
                font-family: v.$regular;
                font-weight: 100;
                @include m.limit(2);
            }
            @media (max-width: v.$television){
                &:nth-child(1){
                    font-size: 1rem;
                }
                &:nth-child(2){
                    font-size: .8rem;
                }
            }
            b{
                display: block;
                font-family: v.$medium;
            }
        }
        &_link{
            margin: 0;
            // height: 0;
            opacity: 0;
            width: 100%;
            overflow: hidden;
            transition: opacity 0.25s ease, height 0.25s ease;
            a{
                @include m.boton(156px, 38px, v.$verde, v.$verde);
                margin: 24px auto 0;
                &:hover{
                    color: v.$verde;
                }
            }
        }
        &_content{
            width: 100%;
        }
    }
    &:hover{
        .product{
            &_image{
                // aspect-ratio: 1/0.9;
            }
            &_info{
                height: 180px;
                @media (max-width: v.$television){
                    height: 156px;
                }
                &_link{
                    // height: 100%;
                    opacity: 1;
                }
            }
        }
    }
}