@use "base/variables" as v;

.splide-navigation-dott{
    .splide__pagination__page{
        width: 20px;
        height: 20px;
        @media (max-width: v.$television){
            width: 18px;
            height: 18px;
        }
        @media (max-width: v.$desktop){
            width: 16px;
            height: 16px;
        }
        @media (max-width: v.$tablet){
            width: 15px;
            height: 15px;
        }
    }

    .splide__pagination{
        gap: .5rem;
        button{
            border: solid 1px #707070;
            background-color: v.$blanco;
            &.is-active{
                background-color:  #8E8D8D;
            }
        }
    }
    &--verde .splide__pagination{
        button{
            border: solid 1px v.$verde;
            background-color: v.$blanco;
            &.is-active{
                background-color:  v.$verde;;
            }
        }
    }
    &:not(.splide-navigation-dott--content) .splide__pagination{
        padding-top: 4rem;
        position: relative;
        left: initial;
        bottom: initial;
        left: initial;
        gap: 1rem;
        @media (max-width: v.$television){
            padding-top: 2rem;
        }
    }
}