@use "base/mixins" as m;
@use "base/variables" as v;

.blog{
    &_entries{
        
        padding: 7rem 0;

        @media (max-width: v.$television){
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        @media (max-width: v.$desktop){
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        
        .grilla{
            @include m.grid(3, 40px 20px);
            @media (max-width: v.$desktop){
                @include m.grid(2, 40px 20px);
            }
            @media (max-width: v.$tablet){
                @include m.grid(1, 40px 20px);
            }
        }
    }
}