@use "base/mixins" as m;
@use "base/variables" as v;

.contacto{
    min-height: 100vh;
    padding: 5rem 0;
    @media (max-width: v.$desktop){
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    @include m.flex(center, 0);
    flex-direction: column;
    background: rgba($color: v.$celeste, $alpha: 0.2);

    .row{
        @media (max-width: v.$desktop) {
            gap: 2rem;
            flex-direction: column !important;
        }
    }

    .col{
        width: 49.5%;
        @media (max-width: v.$desktop) {
            width: 80%;
        }
        @media (max-width: v.$tablet) {
            width: 100%;
        }
    }

    .contenido{
        width: min(100%, 440px);
        @media (max-width: v.$television) {
            max-width: 300px;
        }
        @media (max-width: v.$desktop) {
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
        }
        img{
            width: 100%;
            margin-bottom: 40px;
        }
    }
    ul{
        list-style: none;
        li{
            @include m.flex(flex-start, 18px);
            align-items: flex-start;
            flex-wrap: nowrap;

            &:not(:last-child){
                margin-bottom: 24px;
            }
            svg{
                @include m.contain(28px);
                @media (max-width: v.$television) {
                    @include m.contain(22px);
                }
                @media (max-width: v.$desktop) {
                    @include m.contain(18px);
                }
            }
            p, a{
                color: v.$negro;
            }
        }
    }

    &_mapa{
        padding: 3rem 0;
        img{
            border-radius: 20px;
        }
    }
}

.contactanos{
    background: v.$celeste;
    padding-block: 6rem;
    @media (max-width: v.$desktop){
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    min-height: 100vh;
    @include m.flex(center, 0);
    flex-direction: column;
    
    h2{
        color: v.$blanco;
        max-width: 380px;
    }
}