@use "base/mixins" as m;
@use "base/variables" as v;

.hero{
    min-height: calc(100vh - 116px);
    @media (max-width: v.$television){
        min-height: calc(100vh - 80px);
    }
    @media (max-width: v.$desktop){
        padding: 1.5rem 0;
        min-height: calc(100vh - 64px);
    }
    @include m.flex(center, 0);
    flex-direction: column;
    .splide{
        position: absolute;
        inset: 0;
        img{
            object-fit: cover;
            object-position: center;
        }
    }
    .contenedor{
        position: relative;
        z-index: 2;
    }
    .contenido{
        width: min(100%, 700px);
        margin-top: -30px;
        @media (max-width: v.$desktop){
            margin-top: 0;
        }
        p, a, h1{
            color: v.$blanco;
        }
        p{
            font-size: 1.75em;
            font-family: v.$medium;
            line-height: 1.5em;
            width: min(100%, 460px);
            margin: 40px 0 35px;
            @media (max-width: v.$television){
                font-size: 1.4em;
            }
            @media (max-width: v.$desktop){
                font-size: 1.1em;
            }
        }
        a{
            @include m.boton(240px, 50px, v.$verde, v.$blanco);
            margin: 0 auto;
        }
        p, h1{
            @include m.text-shadow;
        }
        h1{
            font-family: v.$black;
        }
    }
}

.our_products{
    padding: 6.5rem 0 3rem 0;
    @media (max-width: v.$television){
        padding: 4rem 0 1rem 0;
    }
    @media (max-width: v.$desktop){
        padding: 4rem 0 3rem 0;
    }
    .splide{
        padding: 4px;
    }
    h2{
        text-align: center;
        font-family: v.$black;
        color: v.$celeste;
        margin-bottom: 60px;
    }
}

.partners{
    background: rgba($color: v.$celeste, $alpha: 0.2);
    padding: 7rem 0;
    @media (max-width: v.$television){
        padding: 4rem 0;
    }
    @media (max-width: v.$desktop){
        padding: 3rem 0;
    }
    h2{
        color: v.$celeste;
        text-align: center;
        margin-bottom: 30px;
    }
    .card_partner{
        width: 100%;
        position: relative;
        aspect-ratio: 16/9;
        background: v.$blanco;
        border-radius: 20px;
        overflow: hidden;
        padding: 8px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}

.objetivos{
    padding: 3.5rem 0 7rem;
    h2{
        color: v.$celeste;
        text-align: center;
        margin-bottom: 60px;
    }
    .row{
        column-gap: 34px;
    }
}

.banner-bottom-nosotros{
    background-color: rgba(v.$celeste,0.2);
    h2{
        margin-bottom: 1rem;
        color: v.$celeste;
        font-size: 1.8rem;
        @media (max-width: v.$television){
            font-size: 1.4rem;
        }
        @media (max-width: v.$desktop){
            font-size: 1.1rem;
        }
    }
    p{
        margin-bottom: 1rem;;
    }
    .banner-bottom__bg-text{
        @media (max-width: v.$desktop){
            padding: 2rem 1.5rem;
        }
    }
    .center{
        margin-top: 3rem;
        display: flex;
        justify-content: center;
    }
}

.articles{
    padding: 7rem 0;
    @media (max-width: v.$television){
        padding: 5rem 0;
    }
    @media (max-width: v.$desktop){
        padding: 3rem 0;
    }
    &--bg-celeste{
            background-color: rgba(v.$celeste,0.2);
    }
    &__item{
        display: flex;
        align-items: center;
        flex-direction: column;
        a{
            min-width: 130px;
            max-width: 130px;
            margin-inline: auto;
        }
    }
    h2{
        color: v.$celeste;
        text-align: center;
        margin-bottom: 5rem;
        @media (max-width: v.$television){
            margin-bottom: 3rem;
        }
    }
    &__bg{
        position: relative;
        aspect-ratio: 1 / 1;
        background-color: #585858;
        border-radius: 30px;
        width: 100%;
        margin-bottom: 3rem;
        img{
            object-fit: cover;
            max-width: 100%;
            width: 100%;
            height: 100%;
        }
        @media (max-width: v.$television){
            margin-bottom: 2rem;
        }
    }
    &__title{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 30px 30px;
        width: 90%;
        padding: 2rem 5rem;
        @media (max-width: v.$television){
            padding: 1rem 3rem;
        }
        p{
            font-family: "GorditaBold";
            color: #585858;
            font-size: 1.5rem;
            line-height: 1.8;
            text-align: center;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            margin-bottom: 2rem;
            @media (max-width: v.$television){
                margin-bottom: 1rem;
                font-size: 1rem;
                line-height: 1.4;
            }
            @media (max-width: v.$desktop){
                font-size: .9rem;
            }
        }
    }
    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        margin-bottom: 9rem;
        @media (max-width: v.$television){
            margin-bottom: 6rem;
        }
        @media (max-width: v.$desktop){
            gap: 5rem;
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: v.$tablet){
            grid-template-columns: 1fr;
        }
    }
    &__ver-mas{
        display: flex;
        justify-content: center;
    }
}